body {
  background-image: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  color: black;
  float: left;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}
img {
  width: 300px;
  border: 25px solid burlywood;
  padding: 25px;
  margin: 25px;
}
li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
