body {
  color: black;
  float: left;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}
img {
  width: 300px;
  border: 25px solid burlywood;
  padding: 25px;
  margin: 25px;
}
li {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  list-style: decimal inside;
}
.triangle {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-family: "Lucida Fax";
}
.equilateral,
.isosceles,
.scalene {
  border: 1px solid black;
  top: 100px;
  left: 70px;
}
.equilateral {
  width: 500px;
}
.isosceles {
  width: 500px;
}
.scalene {
  width: 500px;
}
